</h2>
</div>

</div>
</div>
</header>


<section class="about-section section-padding" id="section_2">
<div class="container">
<div class="row">

<div class="col-lg-8 col-12 mx-auto" style="align-items: center; justify-content: center; display: flex;">
    <div class="pb-5 mb-5">
        <img src="{{ link }}"
            class="about-image mt-5 img-fluid" alt="" style="width: 600px; height: 600px;">
        <p class="mt-2 fw-bold text-center">{{ content }}</p>
    </div>
</div>

</div>
</div>
</section>
</main>

<!-- JAVASCRIPT FILES -->
<script src="views/js/jquery.min.js"></script>
<script src="views/js/bootstrap.bundle.min.js"></script>
<script src="views/js/owl.carousel.min.js"></script>
<script src="views/js/custom.js"></script>

</body>

</html>